<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Веб-админка</title>
</head>
<body>
    <h1>Добро пожаловать в веб-админку</h1>
    <ul>
        <li><a href="/employees">Сотрудники</a></li>
        <li><a href="/menu">Меню</a></li>
        <li><a href="/promotions">Акции</a></li>
        <li><a href="/presentation_types">Виды подачи</a></li>
        <li><a href="/schedule">График</a></li>
        <li><a href="/salary">Зарплата</a></li>
        <li><a href="/bonuses">Премии</a></li>
    </ul>
</body>
</html>